
html { 
  background: url(Login2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

#topPic {

  right: 10px;
  top: 10px;
  color: white;
  width : 150px;
  height: 140px;
  position: absolute;
  display: none;


}
#login  {
    
    border-radius: 16px;
    padding: 50px 100px;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    position: absolute;
    
    bottom: 40%;
    left: 0;
    right: 0;
    border-left-width: 

    margin: auto;
    background-color: yellow;
    
    background-color: rgba(0, 0, 0, .7);
   
}
#login-button, #sign-in-button
{
    width : 260px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
}



.title {
    color: #FFFFFF;
    font-size: 180px;
    font-family: Arial;
    font-weight: bold;
}
.reg {
    border-radius: 8px;
    padding: 20px 60px;
    font-size: 60px;
    background: #004080;
    color: white;
}


.submit:hover {
    background-color: red;
}

